.bar {
  display: inline-block;
  border: 1px;
  border-bottom: 1px solid #CCC;
  margin: 5px;
}
.bar-success {
  background: #7BB33D;
}
.bar-success:hover {
  background: #73A839;
}
.bar-failure {
  background: #dd1f26;
}
.bar-failure:hover {
  background: #d41e24;
}
