.bar {
  display: inline-block;
  border: 1px;
  border-bottom: 1px solid var(--divider-muted);
  margin: 5px;
}
.bar-success {
  background: var(--success-500);
}
.bar-success:hover {
  background: var(--success-600);
}
.bar-failure {
  background: var(--danger-500);
}
.bar-failure:hover {
  background: var(--danger-600);
}
