<div class="about-modal-pf">
  <div class="modal-header">
    <button type="button" class="close" (click)="close()" aria-hidden="true">
      <span class="pficon pficon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <h1 *ngIf="config.title">{{config.title}}</h1>
    <div *ngIf="config.productInfo && config.productInfo.length > 0" class="product-versions-pf">
      <ul class="list-unstyled">
        <li *ngFor="let info of config.productInfo">
          <strong>{{ info.name }}</strong> {{ info.value }}</li>
      </ul>
    </div>
    <div class="product-versions-pf">
      <ng-content></ng-content>
    </div>
    <div *ngIf="config.additionalInfo" class="product-versions-pf">{{config.additionalInfo}}</div>
    <div *ngIf="config.copyright" class="trademark-pf">{{config.copyright}}</div>
  </div>
  <div class="modal-footer">
    <img *ngIf="config.logoImageSrc" [src]="config.logoImageSrc" alt="{{config.logoImageAlt}}" />
  </div>
</div>

