.metadata-label {
  background-color: var(--surface-subtle);
  color: var(--text-default);
  border: 1px solid var(--surface-border);
  border-radius: 12px;
  display: inline-flex;
  line-height: 20px;
  margin: 0 3px 3px 0;
  max-width: 100%;
  padding: 0 8px;
}