<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>
  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>

  <logger name="org.springframework.test" level="ERROR"/>
  <logger name="io.github.microcks" level="INFO"/>
  <logger name="io.github.microcks.web.AbstractBaseIT" level="INFO"/>

  <logger name="tc" level="INFO"/>
  <logger name="org.testcontainers" level="INFO"/>
  <logger name="com.github.dockerjava" level="WARN"/>
</configuration>