#hourInvocationsBarChart >* .domain {
    display: none;
  }
  #hourInvocationsBarChart >* .axis line {
    stroke-width: 1px;
    stroke: var(--axis-line);
    shape-rendering: crispedges;
  }
  #hourInvocationsBarChart >* .axis text {
    fill: var(--axis-text);
  }
  .invocations-bar > rect {
    fill: var(--primary-500);
    fill-opacity: 0.7;
  }
  .invocations-bar > rect:hover {
    fill-opacity: 1;
  }