<h2>Exporting repository</h2>

<form class="form-horizontal well" ng-init="getAllServices()">
  <fieldset>
    <legend>Pick services to export</legend>
    <div class="form-group">
      <label class="control-label col-sm-2" for="services">Services</label>
      <div class="controls col-sm-10">
        <div class="pre-scrollable">
          <ul class="unstyled">
            <li ng-repeat="service in services">
              <label class="checkbox">
                <input type="checkbox" name="serviceIds" ng-model="selectedServices.ids[service.id]">
                {{ service.name }} - {{ service.version }}
              </label>
            </li>
          </ul>
        </div>
        <p class="help-block">Type service name and hit enter to select it.</p>
      </div>
    </div>
    <div class="form-actions">
      <input type="button" class="btn btn-default" value="Cancel" />
      <input type="button" class="btn btn-primary" ng-click="export()" ng-disabled="form.$invalid" value="Export" />
    </div>
  </fieldset>
</form>