<h2>Importing repository data</h2>

<form class="form-horizontal well">
  <fieldset>
    <legend>Pick file to import</legend>
    <div class="control-group">
      <label class="control-label" for="services">JSON Export File</label>
      <div class="controls">
        <input type="file" nv-file-select title="Select a file to import" uploader="uploader"/>
        <p class="help-block" style="margin-top: 10px">Select a JSON file you previously get from a Microcks repository export.<br/></p>
      </div>
    </div>
    <div class="form-actions">
      <input type="button" class="btn btn-default" value="Cancel" />
      <input type="button" class="btn btn-primary" ng-click="import()" ng-disabled="form.$invalid" value="Import" />
    </div>
  </fieldset>
</form>