<div class="row control-group" ng-init="getInvocationStats(day); getTopInvocations(day)">
  <label class="control-label" for="day">Pick a day</label>
  <div class="controls">
    <div class="col-md-3">
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="day" 
                 is-open="pickerOpened" ng-required="true" show-button-bar="false" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
    </div>
    <a id="go" class="btn btn-warning" ng-click="updateInvocationStats()">Go</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3>Day invocations</h3>
    <div class="bg-warning" ng-show="invocationStats.dailyCount == 0">No statistics for this day !</div>
    <day-invocations-bar-chart stats="invocationStats"></day-invocations-bar-chart>
    <blockquote>
      <p id="dayInfo" class="text-warning" ng-hide="day">Today</p>
      <p id="dayInfo" class="text-warning" ng-show="day">{{ day | date : 'shortDate' }}</p>
    </blockquote>
  </div>
  <div class="col-sm-6 text-right">
    <h3>Top invocations for this day</h3>
    <top-invocations stats="topInvocations"></top-invocations>
  </div>
</div>