<h2>Job List</h2>

<div class="row">
  <span class="col-md-10">
    <form ng-submit="filterJobs()" class="navbar-form" role="search">
      <input type="text" class="form-control" ng-model="filterTerm" placeholder="Search"/>
    </form>
  </span>
  <span class="col-md-2">
    <a class="btn btn-info" ng-click="addJob()"><i class="glyphicon glyphicon-fire"></i> Add Job...</a>
  </span>
</div>

<br/>
<table class="table table-hover" ng-init="listPage(page)">
  <thead>
    <tr>
      <th>Name</th>
      <th>Repository URL</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="job in jobs">
      <td>{{ job.name }}</td>
      <td style="max-width:500px; word-wrap:break-word">{{ job.repositoryUrl }}</td>
      <td>
        <span class="label label-info" ng-show="{{ job.lastImportDate }}">Active</span>
        <span class="label label-default" ng-show="{{ !job.lastImportDate }}">Inactive</span>
        <span class="label label-success" ng-show="{{ job.active }}">Scanned</span>
        <span class="label label-primary" ng-show="{{ !job.active }}">Not scanned</span>
        <a data-toggle="tooltip" data-title="{{ job.lastImportError }}" ng-show="{{ job.lastImportError }}">
          <span class="label label-danger">Import error</span>
        </a>
        <a data-toggle="tooltip" data-title="Hello" ng-show="{{ job.serviceRefs }}">
          <span class="label label-warning">Services</span>
        </a>
      </td>
      <td>
        <div class="btn-group pull-right">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="editJob(job)">Edit</a></li>
            <li><a ng-click="deleteJob(job)">Delete</a></li>
            <li class="divider"></li>
            <li><a ng-click="activateJob(job)">Activate</a></li>
            <li><a ng-click="startJob(job)">Start</a></li>
            <li><a ng-click="stopJob(job)">Stop</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>  

<div class="text-center" ng-hide="filterTerm">
  <pagination total-items="count" ng-model="page" items-per-page="pageSize" 
              class="pagination-sm" boundary-links="false" rotate="false" 
              num-pages="numPages">
  </pagination>
</div>