<h2>'{{ view.service.name }}' - {{ view.service.version }}</h2>

<section id="properties">
  <div class="row">
    <div class="col-md-8">
      <h3>Properties</h3>
      <div class="row">
        <div class="col-sm-2" align="right">Version</div>
        <div class="col-sm-7">{{ view.service.version }}</div>
      </div>
      <div class="row">
        <div class="col-sm-2" align="right">Type</div>
        <div class="col-sm-7">{{ view.service.type }}</div>
      </div>
      <div class="row" ng-show="{{ view.service.type == 'SOAP_HTTP' }}">
        <div class="col-sm-2" align="right">Namespace</div>
        <div class="col-sm-7"><code>{{ view.service.xmlNS }}</code></div>
      </div>
      <div class="row" ng-show="{{ view.service.type == 'SOAP_HTTP' }}">
        <div class="col-sm-2" align="right">Resources</div>
        <div class="col-sm-7">
          <a href="/api/resources/{{ view.service.name }}-{{ view.service.version }}.wsdl" target="new" alt="Service WSDL">
            WSDL Contract <i class="glyphicon glyphicon-globe"></i>
          </a>
        </div>
      </div>
      <div class="row" ng-show="{{ view.service.type == 'GENERIC_REST' }}">
        <div class="col-sm-2" align="right">Resources</div>
        <div class="col-sm-7">
          <a href="/api/resources/{{ view.service.id }}/swagger_20" target="new" alt="Swagger 2.0 spec">
            Swagger 2.0 spec <i class="glyphicon glyphicon-globe"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2" align="right">Statistics</div>
        <div class="col-sm-7">
          <a href="#/admin/invocations/{{ view.service.name }}/{{ view.service.version }}">Invocations <i class="glyphicon glyphicon-signal"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-4 pull-right text-right">
      <h4>Latest tests trend</h4>
      <test-bar-chart chart="testChart" data="serviceTests()"></test-bar-chart>
      <div id="testChart"></div>
      <br/>
      <a href="#/tests/service/{{ view.service.id }}"><i class="glyphicon glyphicon-time"></i> History</a>
      <a href="#/tests/create" class="btn btn-warning"><i class="glyphicon glyphicon-fire"></i> New Test...</a>
    </div>
  </div>
</section>
<br/>

<section id="operations">
  <h3>Operations
    <span ng-show="{{ view.service.type == 'GENERIC_REST' }}" class="pull-right text-right">
      <a class="btn btn-success" ng-click="openResources(view.service)"><i class="glyphicon glyphicon-transfer"></i> Resources</a>
    </span>
  </h3>

  <div ng-repeat="operation in view.service.operations">
    <accordion>
      <div accordion-group class="panel-default">
        <accordion-heading>
          <i class="glyphicon glyphicon-cog"></i> Operation {{ operation.name }}
        </accordion-heading>
        <div class="row" ng-show="{{ view.service.type == 'SOAP_HTTP' }}">
          <div class="col-sm-3" align="right">Input Name</div>
          <div class="col-sm-9"><code>{{ operation.inputName }}</code></div>
        </div>
        <div class="row" ng-show="{{ view.service.type == 'SOAP_HTTP' }}">
          <div class="col-sm-3" align="right">Output Name</div>
          <div class="col-sm-9"><code>{{ operation.outputName }}</code></div>
        </div>
        <div class="row">
          <div class="col-sm-3" align="right">Dispatcher</div>
          <div class="col-sm-9">{{ operation.dispatcher }}</div>
        </div>
        <div class="row">
          <div class="col-sm-3" align="right">Dispatching Rules</div>
          <div class="col-sm-9">
            <a ng-click="rules = !rules">
              <i class="glyphicon glyphicon-option-horizontal"></i>
            </a>
            <div collapse="rules == null || rules">
              <pre>{{ operation.dispatcherRules }}</pre>
            </div>
          </div>
        </div>
        <div class="row" ng-show="{{ view.service.type != 'SOAP_HTTP' }}">
          <div class="col-sm-3" align="right">Operation Verb</div>
          <div class="col-sm-9">
            <code>{{ operation.method }}</code>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3" align="right">Mocks URL</div>
          <div class="col-sm-9">
            <code ng-show="{{ view.service.type == 'SOAP_HTTP' }}">/soap/{{encodeUrl(view.service.name)}}/{{ view.service.version }}/</code>
            <code ng-show="{{ view.service.type == 'REST' }}">/rest/{{encodeUrl(view.service.name)}}/{{ view.service.version }}{{ removeVerbInUrl(operation.name) }}</code>
            <code ng-show="{{ view.service.type == 'GENERIC_REST' }}">/dynarest/{{encodeUrl(view.service.name)}}/{{ view.service.version }}{{ removeVerbInUrl(operation.name) }}</code>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3" align="right">Default delay</div>
          <div class="col-sm-9">{{ operation.defaultDelay || 0 }} ms</div>
        </div>
        <br/>
        <tabset role="tabpanel">
          <tab ng-repeat="pair in view.messagesMap[operation.name]" heading="{{ pair.request.name }}">
            <div class="row">
              <div class="col-md-6">
            <span ng-show="{{ view.service.type == 'REST' && operation.dispatcher == 'SEQUENCE'}}">
              <code><small>{{operation.method}} /rest/{{encodeUrl(view.service.name)}}/{{ view.service.version }}{{formatRequestUrl(operation.name, pair.response.dispatchCriteria)}}</small></code>
            </span>
                <span ng-show="{{ view.service.type == 'REST' && operation.dispatcher == 'URI_PARAMS'}}">
              <code><small>{{operation.method}} /rest/{{encodeUrl(view.service.name)}}/{{ view.service.version }}{{formatRequestUrl(operation.name, pair.response.dispatchCriteria)}}</small></code>
            </span>
                <span ng-show="{{ view.service.type == 'REST' && operation.dispatcher == 'URI_PARTS'}}">
              <code><small>{{operation.method}} /rest/{{encodeUrl(view.service.name)}}/{{ view.service.version }}{{formatRequestUrl(operation.name, pair.response.dispatchCriteria)}}</small></code>
            </span>
                <span ng-show="{{ view.service.type == 'REST' && operation.dispatcher == 'URI_ELEMENTS'}}">
              <code><small>{{operation.method}} /rest/{{encodeUrl(view.service.name)}}/{{ view.service.version }}{{formatRequestUrl(operation.name, pair.response.dispatchCriteria)}}</small></code>
            </span>
                <div hljs no-escape source="pair.request.content"></div>
                <table class="table table-condensed" width="100%" ng-show="pair.request.headers">
                  <thead>
                  <tr>
                    <th>Header name</th>
                    <th>Values</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="header in pair.request.headers">
                    <td>{{ header.name }}</td>
                    <td style="max-width:200px; word-wrap:break-word"><span ng-repeat="v in header.values">{{ v }}{{ $last ? '':', '}}</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
            <span ng-show="{{ view.service.type == 'REST' }}">
              <code><small>{{ pair.response.status }}: {{pair.response.mediaType}}</small></code>
            </span>
                <div hljs source="pair.response.content"></div>
                <table class="table table-condensed" width="100%" ng-show="pair.response.headers">
                  <thead>
                  <tr>
                    <th>Header name</th>
                    <th>Values</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="header in pair.response.headers">
                    <td>{{ header.name }}</td>
                    <td style="max-width:200px; word-wrap:break-word"><span ng-repeat="v in header.values">{{ v }}{{ $last ? '':', '}}</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </accordion>
  </div>
</section>
