<h2>Service List</h2>


<div class="row">
  <span class="col-md-10">
    <blockquote>
      This is the services/APIs managed by Microcks. You can discover new ones adding Job or
      creating a new Dynamic Service...
    </blockquote>
  </span>
  <span class="col-md-2">
    <a class="btn btn-info" ng-click="addDynamicService()"><i class="glyphicon glyphicon-fire"></i> Add Dynamic Service...</a>
  </span>
</div>

<br/>
<table class="table table-hover" id="services">
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Operations</th>
      <th>&#160;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="service in services">
      <td>{{ service.name }}</td>
      <td>{{ service.version }}</td>
      <td>
        <span ng-repeat="operation in service.operations">
          {{ operation.name }}<br/>
        </span>
      </td>
      <td>
        <a ng-href="#/service/{{ service.id }}">Details</a>
      </td>
    </tr>
  </tbody>
</table>

<div class="text-center" ng-hide="term">
  <pagination total-items="count" ng-model="page" items-per-page="pageSize" 
              class="pagination-sm" boundary-links="false" rotate="false" 
              num-pages="numPages">
  </pagination>
</div>