<div class="form-group pull-right">
  <pfng-toast-notification-list [notifications]="notifications" [showClose]="true">
  </pfng-toast-notification-list>
</div>

<div *ngIf="service | async as service">
  <div class="container-fluid breadcrumb-bar">
    <div class="row">
      <ol class="breadcrumb">
        <li><a [routerLink]="['/services']">Services &amp; APIs</a></li>
        <li><a [routerLink]="['/services', service.id]">{{ service.name }} - {{ service.version }}</a></li>
        <li>New Test</li>
      </ol>
    </div>
  </div>

  <h1>New Test</h1>

  <form class="form-horizontal">
    <fieldset>
      <div class="control-group form-inline">
        <label class="control-label" for="service">Service under test</label>
        <div class="controls">
          <input id="service" class="form-control" readonly value="{{ service.name }}"/>
          &nbsp;
          <div class="input-group">
            <span class="input-group-addon">v.</span>
            <span id="version" name="version" class="form-control" readonly>{{ service.version }}</span>
          </div>
          <p class="help-block">The service and its version we're going to test.</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label required-pf" for="testEndpoint">Test Endpoint</label>
        <div class="controls">
          <span *ngIf="service.type != 'EVENT'">
            <input type="url" placeholder="eg. http://{service.endpoint.url:port}/{service.path}" id="testEndpoint" name="testEndpoint" class="form-control" [(ngModel)]="testEndpoint" (ngModelChange)="checkForm()" required/>
            <p class="help-block">A valid endpoint to use for testing (Http URL for API or WebServices).</p>
          </span>
          <span *ngIf="service.type === 'EVENT'">
            <input type="url" placeholder="eg. kafka://{kafka.broker.url:port}/{kafka.topic.name}" id="testEndpoint" name="testEndpoint" class="form-control" [(ngModel)]="testEndpoint" (ngModelChange)="checkForm()" required/>
            <p class="help-block">A valid endpoint to use for testing (Kafka/MQTT/NATS/AMQP/PubSub/SQS broker or WebSocket server + topic name for Asynchronous API).</p>
          </span>
        </div>
      </div>
      <div class="control-group" *ngIf="service.type === 'EVENT'">
        <label class="control-label required-pf" for="filteredOperation">Operation</label>
        <div class="controls">
          <select id="filteredOperation" name="filteredOperation" class="form-control" [(ngModel)]="filteredOperation" (ngModelChange)="checkForm()">
            <option *ngFor="let operation of service.operations" [value]="operation.name">{{ operation.name }}</option>
          </select>
          <p class="help-block">Select the Asynchronous operation you want to test (only SUBSCRIBE is supported at the moment).</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label required-pf" for="runnerType">Runner</label>
        <div class="controls">
          <select id="runnerType" name="runnerType" class="form-control" [(ngModel)]="runnerType" (ngModelChange)="checkForm()">
            <option value="HTTP" *ngIf="service.type != 'EVENT'">HTTP</option>
            <option value="SOAP_HTTP" *ngIf="service.type === 'SOAP_HTTP'">SOAP</option>
            <option value="SOAP_UI" *ngIf="service.type != 'EVENT'">SOAP UI</option>
            <option value="POSTMAN" *ngIf="service.type === 'REST'">POSTMAN</option>
            <option value="OPEN_API_SCHEMA" *ngIf="service.type === 'REST'">OPEN API SCHEMA</option>
            <option value="ASYNC_API_SCHEMA" *ngIf="service.type === 'EVENT'">ASYNC API SCHEMA</option>
            <option value="GRPC_PROTOBUF" *ngIf="service.type === 'GRPC'">GRPC PROTOBUF</option>
            <option value="GRAPHQL_SCHEMA" *ngIf="service.type === 'GRAPHQL'">GRAPHQL SCHEMA</option>
          </select>
          <p class="help-block">
            <span *ngIf="service.type != 'EVENT'">The runner to use for this test (test only HTTP return code, test also SOAP compliance, use SOAP UI assertions, POSTMAN tests or OPEN API SCHEMA compliance).</span>
            <span *ngIf="service.type === 'EVENT'">The runner to use for this test (for now we only have ASYNC API SCHEMA compliance).</span>
            <span class="learn-more-inline">
              <a href="https://microcks.io/documentation/using/tests/" target="blanck">Learn More 
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            </span>
          </p>
        </div>
      </div>

      <div class="control-group">
        <span *ngIf="!showAdvanced"><a (click)="showAdvancedPanel(true)" role="button">Show advanced options</a></span>
        <span *ngIf="showAdvanced"><a (click)="showAdvancedPanel(false)" role="button">Hide advanced options</a></span>
      </div>

      <div *ngIf="showAdvanced" >
        <small>This section allows to add timeout, security credentials for connecting endpoint and filter operations to test.</small>
        <div class="control-group">
          <label class="control-label required-pf" for="timeout">Timeout</label>
          <div class="controls">
            <input type="number" min="1000" max="30000" step="1000" id="timeout" name="timeout" class="form-control" [(ngModel)]="timeout" (ngModelChange)="checkForm()" required/>
            <p class="help-block">Time to wait for the end of the test (value in milliseconds).</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="secret">Secret</label>
          <div class="controls">
            <select class="form-control" id="secret" name="secret" [(ngModel)]="secretId" (change)="updateSecretProperties($event)">
              <option value="none">None</option>
              <option *ngFor="let secret of secrets" [value]="secret.id">{{ secret.name }} </option>
            </select>
            <p class="help-block">Pick the authentication secret that will be associated for connecting the test endpoint.</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="grantType">OAuth2 Grant</label>
          <div class="controls">
            <select class="form-control" id="grantType" name="grantType" [(ngModel)]="oAuth2ClientContext.grantType" (ngModelChange)="checkForm()">
              <option value="none">None</option>
              <option value="CLIENT_CREDENTIALS">Client credentials</option>
              <option value="REFRESH_TOKEN">Refresh token</option>
              <option value="PASSWORD">Password</option>
            </select>
            <p class="help-block">Select the OAuth2 grant type that allows retrieving a token for connecting the test endpoint.</p>
          </div>
          <div class="row" *ngIf="oAuth2ClientContext.grantType && oAuth2ClientContext.grantType != 'none'">
            <div class="col-md-12">
              <label class="control-label" for="tokenUri">OAuth2 Token URI</label>
              <div class="controls">
                <input id="tokenUri" name="tokenUri" class="form-control" [(ngModel)]="oAuth2ClientContext.tokenUri" (ngModelChange)="checkForm()" placeholder="eg. https://idp.acme.org/realms/my-app/protocol/openid-connect/token" />
                <p class="help-block">The OAuth2 token URI that will be used for OAuth2 flow token retrieval.</p>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="oAuth2ClientContext.grantType && oAuth2ClientContext.grantType != 'none'">
            <div class="col-md-6">
              <label class="control-label" for="clientId">Client Id</label>
              <div class="controls">
                <input id="clientId" name="clientId" class="form-control" [(ngModel)]="oAuth2ClientContext.clientId" (ngModelChange)="checkForm()"/>
                <p class="help-block">Your OAuth2 client identifier.</p>
              </div>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="clientSecret">Client Secret</label>
              <div class="controls">
                <input type="password" id="clientSecret" name="clientSecret" class="form-control" [(ngModel)]="oAuth2ClientContext.clientSecret" (ngModelChange)="checkForm()"/>
                <p class="help-block">Your OAuth2 client secret.</p>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="oAuth2ClientContext.grantType === 'password'">
            <div class="col-md-6">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input id="username" name="username" class="form-control" />
                <p class="help-block">The OAuth2 resource owner username.</p>
              </div>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" id="password" name="password" class="form-control" />
                <p class="help-block">The OAuth2 resource owner password.</p>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="oAuth2ClientContext && oAuth2ClientContext.grantType === 'refresh_token'">
            <div class="col-md-12">
              <label class="control-label" for="secret">Refresh Token</label>
              <div class="controls">
                <input class="form-control" />
                <p class="help-block">An OAuth2 long-lived refresh token to get a new access token.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="control-group" *ngIf="service.type != 'EVENT'">
          <label class="control-label required-pf" for="filteredOperationsNames">Operations</label>
          <div class="controls">
            <ul>
              <li *ngFor="let operation of service.operations">
                <label class="checkbox">
                  <input type="checkbox" id="filteredOperationsNames" name="filteredOperationsNames" (change)="filterOperation(operation.name)"
                         [checked]="!removedOperationsNames.includes(operation.name)">
                  {{ operation.name }}
                </label>
              </li>
            </ul>
            <p class="help-block">Remove the operations you don't want to include in this test.</p>
          </div>
        </div>

        <div *ngIf="service.type != 'EVENT'" style="margin-top: 10px">
          <small>This section allows you to add/override requests headers with global or operation specific ones. Use comma-separated string for multiple values for same header.</small>
          <div class="control-group operation-headers">
              <h5 class="subsection">Globals headers</h5>
              <div class="key-value-editor-entry key-value-editor-entry-header" 
                  *ngIf="operationsHeaders['globals'] != null && operationsHeaders['globals'].length > 0">
                <div class="key-value-editor-header key-header">Name</div>
                <div class="key-value-editor-header value-header">Values</div>
              </div>
              <div class="key-value-editor" *ngFor="let header of operationsHeaders['globals']">
                <div class="key-value-editor-entry">
                  <div class="key-value-editor-input">
                    <input class="form-control" type="text" placeHolder="Name" name="name" [(ngModel)]="header.name">
                  </div>
                  <div class="key-value-editor-input">
                    <input class="form-control" type="text" placeHolder="Values" name="values" [(ngModel)]="header.values">
                  </div>
                  <div class="key-value-editor-buttons">
                    <a (click)="removeHeaderValue('globals', i)" class="as-item-delete" role="button">
                      <i class="pficon pficon-close"></i>
                    </a>
                  </div>
                </div>
              </div>
              <a (click)="addHeaderValue('globals')" role="button">Add Header</a>
            </div>
          <div class="control-group operation-headers" *ngFor="let operation of service.operations; index as i;">
            <h5 class="subsection">Headers for {{ operation.name }}</h5>
            <div class="key-value-editor-entry key-value-editor-entry-header" 
                *ngIf="operationsHeaders[operation.name] != null && operationsHeaders[operation.name].length > 0">
              <div class="key-value-editor-header key-header">Name</div>
              <div class="key-value-editor-header value-header">Values</div>
            </div>
            <div class="key-value-editor" *ngFor="let header of operationsHeaders[operation.name]">
              <div class="key-value-editor-entry">
                <div class="key-value-editor-input">
                  <input class="form-control" type="text" placeHolder="Name" name="name" [(ngModel)]="header.name">
                </div>
                <div class="key-value-editor-input">
                  <input class="form-control" type="text" placeHolder="Values" name="values" [(ngModel)]="header.values">
                </div>
                <div class="key-value-editor-buttons">
                  <a (click)="removeHeaderValue(operation.name, i)" class="as-item-delete" role="button">
                    <i class="pficon pficon-close"></i>
                  </a>
                </div>
              </div>
            </div>
            <a (click)="addHeaderValue(operation.name)" role="button">Add Header</a>
          </div>
        </div>
      </div>
      <div class="form-actions right pull-right">
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
        <button class="btn btn-primary" (click)="createTest()" [disabled]="!submitEnabled">
          <span class="fa fa-plus"></span> Launch test !
        </button>
      </div>
    </fieldset>
  </form>
</div>