.rect-defocused {
  opacity: 0.3 !important;
}
.score-treemap-legend-container {
  display: flex;
}
.score-treemap-legend {
  margin: 5px; 
  width: 100px; 
  height: 10px; 
  background-image: linear-gradient(to left, var(--primary-tint), var(--brand-blue), var(--primary-deep));
}