<form name="form" class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" aria-hidden="false" ng-click="cancel()">
      <span class="glyphicon glyphicon-close"></span>
    </button>
    <h3 class="modal-title">
      <i class="fa fa-cubes"></i> {{ job.id ? 'Edit' : 'Add' }} Job
    </h3>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <fieldset>
        <legend>Job properties</legend>
        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" placeholder="eg. My Job name" id="name" name="name" class="form-control" size="20" ng-model="job.name" required/>
            <p class="help-block">The name this import job will have for later controlling it (should be unique).</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="repositoryUrl">Repository URL</label>
          <div class="controls">
            <input type="url" placeholder="eg. http://svn.mycompany.com/repos/MyRepository.xml" id="repositoryUrl" name="repositoryUrl" class="form-control" ng-model="job.repositoryUrl" required/>
            <p class="help-block">The URL we'll use to scan your project (may be a Subversion or Git one).</p>
          </div>
        </div>
      </fieldset>
      <br/>
    </div>
    <div class="modal-footer">
      <input type="button" class="btn btn-default" ng-click="cancel()" value="Cancel" />
      <input type="submit" class="btn btn-primary" ng-click="ok(job)" ng-disabled="form.$invalid" value="{{job.id ? 'Save' : 'Add'}}" />
    </div>
  </div>
</form>