span.label {
  margin-left: 4px !important;
  margin-right: 4px !important;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.fa-times-circle {
  content: "\f057";
  color: var(--danger);
  vertical-align: middle;
}
.fa-check-circle {
  content: "\f058";
  color: var(--status-success);
  vertical-align: middle;
}
.fa-refresh {
  content: "\f021";
  color: var(--primary-500);
  vertical-align: middle;
}
.fa-clock-o {
  color: var(--warning-500);
  vertical-align: middle;
}

.test-timestamp {
  padding-top: 2px;
  font-size: 91%;
  font-weight: 400;
  color: var(--text-muted-2);
}

.code-block {
  display: inline-block;
  white-space: pre-wrap;
}