.code-block {
  display: inline-block;
  white-space: pre-wrap;
}

.metadata-labels {
  margin-top: 10px;
}

.async-mock-status-label {
  margin-left: 20px;
}

.conformance-card {
  margin-right: 20px !important;
}
.conformance-score {
  font-size: 38px;
  font-weight: 300;
}
.conformance-trend {
  margin-left: 10px;
  font-size: 24px;
}
.conformance-trend.low-up {
  transform: rotate(45deg);
}
.conformance-trend.low-down {
  transform: rotate(-45deg);
}

.conformance-index > dt {
  margin-bottom: 10px;
}

.tooltip-break {
  word-break: break-word;
}

.dispatching-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.dispatching-column {
  flex: 1 1 250px;
  min-width: 0;
}