h1.arvo {
  font-size: 2.4em;
  line-height: 1.2em;
}
.hl {
  color: #ff1745;
  font-weight: 600;
}

.megatron {
  padding: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: inherit;
  background-color: #f1f1f1;
}
.megatron p {
  font-weight: 200;
}

blockquote.top-invocation {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 4px;  
}
p.top-invocation {
  margin-bottom: 0;
  font-size: 0.85em;
}