/* For notification tooltips */
.cg-notify-message {
  color: #ffffff !important;
  padding-left: 30px;
  padding-right: 30px;
}

/* For tests summary chart */
.bar {
  display: inline-block;
  border: 1px;
  border-bottom: 1px solid #CCC;
}
.bar-success {
  background: #7BB33D;
}
.bar-success:hover {
  background: #73A839;
}
.bar-failure {
  background: #dd1f26;
}
.bar-failure:hover {
  background: #d41e24;
}

/* */
table.table-condensed {
  font-size: 12px;
}

/* For D3 charts on invocations */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}
.d3-tip span {
  color: #ff00c7;
}
.domain {
  display: none;
}
.axis line {
  stroke-width: 1px;
  stroke: #eee;
  shape-rendering: crispedges;
}
.axis text {
  fill: #888;
}
rect {
   fill: #339cff;
   fill-opacity: 0.7;
}
rect:hover {
   fill-opacity: 1;
}

/* Base style for code and bootstrap badges */
pre, code {
  background: #f9f2f4;
  /*
  font-size: 12pt;
  font-family: Ubuntu Mono, monospace;
  */
}
code.hljs {
  background: #f9f2f4 !important;
}
span.alert-info {
  color: #eeeeee;
}
span.alert-success {
  color: #eeeeee;
}
span.alert-danger {
  color: #eeeeee;
}
span.alert-warning {
  color: #eeeeee;
}
.highlight {
  background: #ffe0b3;
}

.panel{
  box-shadow: 0 0px 0px rgba(0,0,0,0.0) !important;
  border-color: #2196f3 !important;
}
.panel-default>.panel-heading {
  color: #444444 !important;
  padding: 15px 15px;
  background-color: #e5f1fb !important;
  border-color: #2196f3 !important;
  border: 1px solid #2196f3 !important;
}
.panel-default>.panel-collapse {
  border: 1px solid #2196f3 !important;
}

.popover-content {
  color: #444444 !important;
}

/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.logo {
  position: absolute;
  display: block;
  top: -0.2em;
  left: 0.2em;
}

.arvo {
  font-family: 'Arvo', serif;
}
.hl {
  color: #2196f3;
}

/* Custom page footer */
footer {
  margin-top: 20px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 758px) {
  #navbar-menu {
    padding-left: 80px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
