.domain {
  display: none;
}
.axis line {
  stroke-width: 1px;
  stroke: var(--axis-line);
  shape-rendering: crispedges;
}
.axis text {
  fill: var(--axis-text);
}
rect {
  color: var(--info-400);
  fill: var(--info-400);
  fill-opacity: 0.7;
}
rect:hover {
  fill-opacity: 1;
}