.breadcrumb-bar {
  height: 37px;
  border-bottom: 1px solid #ccc;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 1px;
}

small {
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1;
  color: #9c9c9c;
}
dl {
  margin-bottom: 2em;
}
dd, dt {
  line-height: 2;
}
.dl-horizontal.left dt {
  text-align: left;
}

[role=button] {
  cursor: pointer;
}

.control-group {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
.form-actions {
  padding-top: 2em;
}
.form-actions>button {
  margin-left: 5px;
}

span.card-pf-footer-text {
  font-size: 1em !important;
  vertical-align: text-top;
}

.pf-icon-sm {
  line-height: 26px;
  border-radius: 50%;
  font-size: 1.4em;
  height: 30px;
  line-height: 30px;
  width: 30px;
}
.rest-icon-sm {
  border: 3px solid #89bf04 !important;
}
.soap-icon-sm {
  border: 3px solid #39a5dc !important;
}
.event-icon-sm {
  border: 3px solid #ec7a08 !important;
}
.grpc-icon-sm {
  border: 3px solid #379c9c !important;
}
.graph-icon-sm {
  border: 3px solid #e10098 !important;
}
.generic-icon-sm {
  border: 3px solid #9c27b0 !important;
}

.label-grpc {
  background-color: #379c9c;
}
.label-graph {
  background-color: #e10098;
}
.label-gene {
  background-color: #9c27b0;
}

.section-label {
  text-transform: uppercase;
  color: rgb(117, 117, 117);
  margin-top: 2em;
  margin-bottom: 1em;
}

.no-margin-top {
  margin-top: 0.2em !important;
}

.subsection-label {
  color: rgb(117, 117, 117);
  border-bottom: 1px solid rgb(220, 220, 220);
  padding-bottom: 10px;
  margin-top: 1em;
}

.learn-more-inline {
  display: inline;
  font-size: 11px;
  font-weight: 400;
  margin-left: 5px;
}

.test-box-container {
  display: inline-block;
}
.bar {
  border: 1px;
  border-bottom: 1px solid #CCC;
  margin: 5px;
}
.bar-success {
  background: #7BB33D;
}
.bar-success:hover {
  background: #73A839;
}
.bar-failure {
  background: #dd1f26;
}
.bar-failure:hover {
  background: #d41e24;
}

#dayInvocationsBarChart {
  padding-left: 20px;
}
#dayInvocationsBarChart >* .domain {
  display: none;
}
#dayInvocationsBarChart >* .axis line {
  stroke-width: 1px;
  stroke: #eee;
  shape-rendering: crispedges;
}
#dayInvocationsBarChart >* .axis text {
  fill: #888;
}
#hourInvocationsBarChart {
  padding-right: 20px;
}
#hourInvocationsBarChart >* .domain {
  display: none;
}
#hourInvocationsBarChart >* .axis line {
  stroke-width: 1px;
  stroke: #eee;
  shape-rendering: crispedges;
}
#hourInvocationsBarChart >* .axis text {
  fill: #888;
}
.invocations-bar > rect {
  fill: #0088ce;
  fill-opacity: 0.7;
}
.invocations-bar > rect:hover {
  fill-opacity: 1;
}

.nav-tabs>li.second-tab:first-child>a {
  --padding-left: 0;
}

.nav-tabs>li.second-tab>a {
  border: 0;
  line-height: 1;
  margin-right: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
.nav-tabs>li.second-tab.active>a, .nav-tabs>li.second-tab.active>a:active, .nav-tabs>li.second-tab.active>a:focus, .nav-tabs>li.second-tab.active>a:hover {
  background-color: transparent;
  border: 0!important;
  color: #0088ce;
}

.nav-tabs>li.second-tab.active>a:before, .nav-tabs>li.second-tab.active>a:focus:before, .nav-tabs>li.second-tab.active>a:hover:before {
  background: #0088ce;
  bottom: -1px;
  content: "";
  display: block;
  height: 2px;
  left: 15px;
  position: absolute;
  right: 15px;
}
.nav-tabs>li.second-tab>a:active:before, .nav-tabs>li.second-tab>a:focus:before, .nav-tabs>li.second-tab>a:hover:before {
  background: #bbb;
  bottom: -1px;
  content: "";
  display: block;
  height: 2px;
  left: 15px;
  position: absolute;
  right: 15px;
}

ul.unstyled {
  list-style-type: none;
  padding-inline-start: 0px;
}

.rect-defocused {
  opacity: 0.3 !important;
}

.tooltip-break {
  word-break: break-word;
}