appName: microcks
ingresses: true

# You can disable ingresses and use HTTPRoute + GRPCRoutes resources instead.
gatewayRoutes: false
# When using HTTPRoute resources, you can set the Gateway to use.
gatewayRefName: default
# No value for namespace means current namespace.
gatewayRefNamespace:
gatewayRefSectionName: https
grpcGatewayRefSectionName: grpc

# Specify custom service account for the microcks specific deployments.
serviceAccount:
  # The name of the service account to use.
  name: default
  # Specifies whether a service account should be created (if not default).
  create: true

microcks:
  url: microcks-microcks.192.168.99.100.nip.io
  #url: microcks-microcks.192.168.64.6.nip.io

  #ingressSecretRef: my-secret-for-microcks-ingress
  #ingressClassName: nginx

  # Ingress annotations are also used for HTTPRoute resources.
  #ingressAnnotations:
    #cert-manager.io/issuer: my-cert-issuer
    #kubernetes.io/tls-acme: "true"

  # Uncomment to use a custom Gateway for Microcks HTTPRoute.
  #gatewayRefName: my-gateway
  #gatewayRefNamespace:
  #gatewayRefSectionName: https

  grpcEnableTLS: true
  #grpcSecretRef: my-secret-for-microcks-grpc
  #grpcIngressClassName: nginx

  # gRPC ingress annotations are also used for GRPCRoute resources.
  #grpcIngressAnnotations:
    #myclass.ingress.kubernetes.io/backend-protocol: "GRPC"
    #myclass.ingress.kubernetes.io/ssl-passthrough: "true"

  # Uncomment to use a custom Gateway for Microcks GRPCRoute.
  #grpcGatewayRefName: my-gateway
  #grpcGatewayRefNamespace:
  #grpcGatewayRefSectionName: https

  # Useless if gatewayRoutes are enabled instead of ingresses.
  generateCert: true

  image:
    registry: quay.io
    repository: microcks/microcks
    tag: 1.13.2
    digest:
  replicas: 1

  # Uncomment to change Microcks Service to a NodePort
  #serviceType: NodePort

  # Adjust resources requests/limits according to your cluster capacity
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      #cpu: 500m
      memory: 512Mi

  # Enabling by adding yaml extra application configurations
  extraProperties:
    #server:
      #tomcat:
        #remoteip:
          #internal-proxies: 172.16.0.0/12

  env:
    - name: SERVICES_UPDATE_INTERVAL
      value: 0 0 0/2 * * *
    #- name: MAX_UPLOAD_FILE_SIZE
    #  value: 5MB
    #- name: CORS_REST_ALLOWED_ORIGINS
    #  value: my-site.acme.com
    #- name: CORS_REST_ALLOW_CREDENTIALS
    #  value: 'true'

  #logLevel: TRACE | DEBUG | INFO | WARN
  logLevel: INFO

  # Enabling/disabling mock invocation stats.
  mockInvocationStats: true

  # Custom secret for Microcks
  # It can be used to deploy a keystore to add certificate to trust sso connection with keycloak.
  # In this case: Use an existing secret with the provided keystore.
  # Don't forget to add java options like that if your secret is a keystore:
  # JAVA_OPTIONS: "-Djavax.net.ssl.trustStore=/deployments/config/custom/secret/KEYSTORE -Djavax.net.ssl.trustStorePassword=XXXXX"
  #customSecretRef:
  #  secret: microcks-keystore
  #  key: cacerts

postman:
  image:
    registry: quay.io
    repository: microcks/microcks-postman-runtime
    tag: 0.7.1
    digest:
  replicas: 1
  resources:
    requests:
      memory: 256Mi
    limits:
      memory: 256Mi

keycloak:
  # Use keycloack in this release
  enabled: true
  # Install keycloack in this release
  install: true
  realm: microcks
  # Now that we switched to newer version of Keycloak-X, default url does not contain '/auth' path
  # If you use an older external Keycloak instance, url must include the '/auth' path
  url: keycloak-microcks.192.168.99.100.nip.io
  #privateUrl: http://microcks-keycloak.microcks.svc.cluster.local:8080

  #ingressSecretRef: my-secret-for-keycloak-ingress
  #ingressClassName: nginx

  # Ingress annotations are also used for HTTPRoute resources.
  #ingressAnnotations:
    #cert-manager.io/issuer: my-cert-issuer
    #kubernetes.io/tls-acme: "true"

  # Uncomment to use a custom Gateway for Keycloak HTTPRoute.
  #gatewayRefName: my-gateway
  #gatewayRefNamespace:
  #gatewayRefSectionName: https

  # Useless if gatewayRoutes are enabled instead of ingresses.
  generateCert: true

  #pvcAnnotations:
    #helm.sh/resource-policy: keep

  image:
    registry: quay.io
    repository: keycloak/keycloak
    tag: 26.0.0
    digest:
  adminUsername: admin
  # Unless you uncomment following line, admin password will be randomly generated.
  # Beware that in case of update, new value will be generated and
  #adminPassword: 123

  # Or you can uncomment secretRef block if credentials are provided through a Secret.
  #secretRef:
    #secret: keycloak
    #usernameKey: username
    #passwordKey: password
    #postgresUsernameKey: postgresUsername
    #postgresPasswordKey: postgresPassword

  # Uncomment to change Keycloak Service to a NodePort
  #serviceType: NodePort

  resources:
    requests:
      cpu: 400m
      memory: 512Mi
    limits:
      #cpu: 500m
      memory: 512Mi

  persistent: true
  volumeSize: 1Gi
  # Unless you uncomment following line and set class, persistent volume claim is created
  # with no storage class and relies on cluster default one.
  #storageClassName: my-awesome-class

  postgresImage:
    registry:
    repository: library/postgres
    tag: 16.3-alpine

  postgresResources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 150m
      memory: 192Mi

  username: userP
  # Unless you uncomment following line, admin password will be randomly generated.
  # Beware that in case of update, new value will be generated and overwrite existing one.
  #password: 123

  serviceAccount: microcks-serviceaccount
  serviceAccountCredentials: ab54d329-e435-41ae-a900-ec6b3fe15c54

mongodb:
  # You can turn off mongodb installation if you use an external one
  install: true

  # MongoDB connection URI must include the protocol prefix
  #uri: mongodb://mongodb:27017
  #uri: mongodb+srv://mongodb:27017
  # Your can use references to user and password to access value mounted from secret
  #uri: mongodb+srv://${SPRING_DATA_MONGODB_USER}:${SPRING_DATA_MONGODB_PASSWORD}@cluster0.myalias.mongodb.net

  # MongoDB database name (default to appName if not set)
  #database: sampledb

  # MongoDB uri parameters are appended after the database name
  #uriParameters: "?ssl=true"

  image:
    registry:
    repository: library/mongo
    tag: 4.4.29
    digest:
  persistent: true
  volumeSize: 2Gi
  # Unless you uncomment following line and set class, persistent volume claim is created
  # with no storage class and relies on cluster default one.
  #storageClassName: my-awesome-class

  username: userM
  # Unless you uncomment following line, admin password will be randomly generated.
  # Beware that in case of update, new value will be generated and overwrite existing one.
  #password: 123

  # Or you can uncomment secretRef block if username and password are provided through a Secret.
  #secretRef:
    #secret: mongodb
    #usernameKey: username
    #passwordKey: password

  #pvcAnnotations:
    #helm.sh/resource-policy: keep

  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      #cpu: 500m
      memory: 512Mi

features:
  async:
    enabled: false
    defaultBinding: KAFKA
    defaultFrequency: 10
    defaultAvroEncoding: RAW

    image:
      registry: quay.io
      repository: microcks/microcks-async-minion
      tag: 1.13.2
      digest:

    env:
      #- name: OAUTH_CLIENT_ID
      #  value: <kafka-oauth-client-id>
      #- name: OAUTH_CLIENT_SECRET
      #  value: <kafka-oauth-client-secret>
      #- name: OAUTH_TOKEN_ENDPOINT_URI
      #  value: <kafka-oauth-endpoint-uri>

    kafka:
      install: true
      url: 192.168.99.100.nip.io
      #url: kafka-bootstrap:9092
      # Set this to your own class name if not using bare nginx
      ingressClassName: nginx

      # Set this to false if you have a Strimzi version<0.46 and want a Zookeeper based cluster.
      enableKraft: true

      persistent: false
      volumeSize: 2Gi
      resources:
        #requests:
          #cpu: 100m
          #memory: 256Mi
        limits:
          #cpu: 500m
          memory: 800Mi
      zkResources:
        #requests:
          #cpu: 100m
          #memory: 256Mi
        limits:
          #cpu: 500m
          memory: 800Mi
      schemaRegistry:
        #url: http://schema-registry.192.168.99.100.nip.io
        confluent: true
        username: microcks
        credentialsSource: USER_INFO

      # If you choose not to install a Kafka broker and reuse on pre-existing,
      # you may need to set some authentication parameters.
      authentication:
        # If not 'none', we support 'SSL' for mutual TLS and 'SASL_SSL' for SASL over TLS.
        type: none #SSL #SASL_SSL
        # For TLS transport, you'll always need a truststore to hold your cluster certificate.
        # You have to setup a truststore type and a secret reference for retrieving content and password.
        #truststoreType: PKCS12
        #truststoreSecretRef:
          #secret: kafka-cluster-ca-cert
          #storeKey: ca.p12
          #passwordKey: ca.password
        # For mutual TLS authentication, you'll also need a keystore to hold your user private key.
        # You have to setup a keystore type and a secret reference for retrieving content and password.
        keystoreType: PKCS12
        keystoreSecretRef:
          secret: mtls-user
          storeKey: user.p12
          passwordKey: user.password
        # For SASL authentication, you'll have to specify an additional authentication mechanism
        # as well as a JAAS configuration line with login module, username and password.
        #saslMechanism: SCRAM-SHA-512
        #saslJaasConfig: org.apache.kafka.common.security.scram.ScramLoginModule required username="scram-user" password="tDtDCT3pYKE5";
        # or an OAuth configuration (you'll need here to extend the async-minion image with your handler class implementation)
        #saslMechanism: OAUTHBEARER
        #saslJaasConfig: org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required;
        #saslLoginCallbackHandlerClass: io.strimzi.kafka.oauth.client.JaasClientOauthLoginCallbackHandler

    # Uncomment the mqtt.url and put a valid endpoint address below to enable MQTT support.
    mqtt:
      #url: artemis:1883
      username: microcks
      password: microcks

    # Uncomment the amqp.url and put a valid endpoint address below to enable AMQP support.
    amqp:
      #url: rabbitmq:5672
      username: microcks
      password: microcks

    # Uncomment the nats.url and put a valid endpoint address below to enable NATS support.
    nats:
      #url: nats:4222
      username: microcks
      password: microcks

    # Uncomment the googlepubsub.project and put a valid project id below to enable PubSub support.
    googlepubsub:
      #project: my-project
      # For authentication, we rely on a Google Service Account JSON file.
      # You have to setup a secret reference for retrieving this file from secret.
      serviceAccountSecretRef:
        secret: googlecloud-service-account
        fileKey: googlecloud-service-account.json

    # Uncomment the sqs.region and put a valid region below to enable Amazon SQS support.
    sqs:
      #region: eu-west-3
      # For authentication, we rely on either Environment Variables or an AWS Profile of type credentials (see https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_credentials_profiles.html)
      # , IRSA (https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) or Pod Identity (https://docs.aws.amazon.com/eks/latest/userguide/pod-identities.html)
      # for in-EKS-cluster deployments.
      # You can choose between 'env-variable', 'profile', 'web-identity' and 'pod-identity'
      credentialsType: env-variable
      #credentialsType: profile
      # For 'env-variable', you may want to specify a Secret to get environment variables from.
      #credentialsSecretRef:
        #secret: aws-credentials
        #accessKeyIdKey: access_key_id
        #secretAccessKeyKey: secret_access_key
        #sessionTokenKey: session_token
      # For 'profile', you have to provide the profile name and set up a secret reference for retrieving this file from secret.
      credentialsProfile: microcks-sqs-admin
      #credentialsSecretRef:
        #secret: aws-credentials
        #fileKey: aws.profile

    # Uncomment the sns.region and put a valid region below to enable Amazon SNS support.
    sns:
      #region: eu-west-3
      # For authentication, we rely on either Environment Variables or an AWS Profile of type credentials (see https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_credentials_profiles.html).
      # You can choose between 'env-variable' and 'profile'
      credentialsType: env-variable
      #credentialsType: profile
      # For 'env-variable', you may want to specify a Secret to get environment variables from.
      #credentialsSecretRef:
        #secret: aws-credentials
        #accessKeyIdKey: access_key_id
        #secretAccessKeyKey: secret_access_key
        #sessionTokenKey: session_token
      # For 'profile', you have to provide the profile name and setup a secret reference for retrieving this file from secret.
      credentialsProfile: microcks-sns-admin
      #credentialsSecretRef:
        #secret: aws-credentials
        #fileKey: aws.profile

    ws:
      #ingressSecretRef: my-secret-for-microcks-ws-ingress
      #ingressClassName: nginx

      # Ingress annotations are also used for HTTPRoute resources.
      #ingressAnnotations:
        #cert-manager.io/issuer: my-ws-cert-issuer
        #kubernetes.io/tls-acme: "true"

      # Uncomment to use a custom Gateway for Async Minion WS HTTPRoute.
      #gatewayRefName: my-gateway
      #gatewayRefNamespace:
      #gatewayRefSectionName: https

      # Useless if gatewayRoutes are enabled instead of ingresses.
      generateCert: true

  repositoryFilter:
    enabled: false
    labelKey: app
    labelLabel: Application
    labelList: app,status

  repositoryTenancy:
    enabled: false
    artifactImportAllowedRoles: admin,manager,manager-any

  microcksHub:
    enabled: true
    allowedRoles: admin,manager,manager-any

  aiCopilot:
    enabled: false
    implementation: openai
    openai:
      apiKey: sk-my-openai-api-token
      timeout: 20
      #model: gpt-3.5-turbo
      #maxTokens: 2000

# common labels associated with all resources helm chart
commonLabels: {}

# common annotations associated with all resource of this helm chart
commonAnnotations: {}

# common affinities associated with all resource of this helm chart
commonAffinities: {}

## Node tolerations for server scheduling to nodes with taints
## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
##
commonTolerations: []
