<div *ngIf="action === undefined || action?.disabled; then showDisabled else showEnabled"></div>
<ng-template #showDisabled>
  <span class="{{action?.iconStyleClass}} card-pf-footer-text" *ngIf="action?.iconStyleClass"
        [ngClass]="{'card-pf-link-with-icon': action?.iconStyleClass, 'card-pf-link': !action?.iconStyleClass}"></span>
  <span class="card-pf-footer-text" *ngIf="action?.hypertext">{{action?.hypertext}}</span>
</ng-template>
<ng-template #showEnabled>
  <a href="{{action?.url}}" *ngIf="action?.url"
     [ngClass]="{'card-pf-link-with-icon': action?.iconStyleClass, 'card-pf-link': !action?.iconStyleClass}">
    <span class="{{action?.iconStyleClass}} card-pf-footer-text" *ngIf="action?.iconStyleClass"></span>
    <span class="card-pf-footer-text" *ngIf="action?.hypertext">{{action?.hypertext}}</span>
  </a>
  <a *ngIf="!action?.url"
     [ngClass]="{'card-pf-link-with-icon': action?.iconStyleClass, 'card-pf-link': !action?.iconStyleClass}"
     (click)="select($event)">
    <span class="{{action?.iconStyleClass}} card-pf-footer-text" *ngIf="action?.iconStyleClass"></span>
    <span class="card-pf-footer-text" *ngIf="action?.hypertext">{{action?.hypertext}}</span>
  </a>
</ng-template>
