<div class="modal-header">
  <h4 class="modal-title pull-left">Edit Labels</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-edit-labels [resourceName]="resourceName" [resourceType]="resourceType" [labels]="labels"></app-edit-labels>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
    <input type="submit" class="btn btn-primary" (click)="saveLabels()" ng-disabled="form.$invalid" value="Save" />
  </div>
</div>