.group-scrollable {
  min-height: 140px;
  max-height: 140px;
  overflow-y: scroll;
}

li.group {
  padding: 3px 0px 3px 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

li.group-selected {
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: var(--primary-tint);
  border-top-color: var(--primary-border-light);
  border-bottom-color: var(--primary-border-light);
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
}