.repositoryUrl {
  max-width: 700px;
  word-wrap: break-word;
}
@media (min-width: 1200px){
.repositoryUrl {
  max-width: none;
}
}

:host > .tooltip-inner {
  max-width: 400px;
  word-wrap: break-word;
}

span.label {
  margin-left: 4px !important;
  margin-right: 4px !important;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
span.label a {
  color: var(--accent-text);
}

.list-view-pf-description {
  flex-basis: 60%;
}

@media (min-width: 1200px){
.list-view-pf-additional-info {
  width: 20%;
}
}
@media (min-width: 1500px){
.list-view-pf-additional-info {
  width: 10%;
}
}

.metadata-label {
  margin-top: 10px !important;
}
.job-update {
  margin-top: 10px;
  display: inline-block;
}
