<div class="modal-header">
  <button type="button" class="close" aria-hidden="true" (click)="bsModalRef.hide()">
    <span class="pficon pficon-close"></span>
  </button>
  <h4 class="modal-title" id="helpDialogModalLabel">Help Content</h4>
</div>
<div class="modal-body">
  <p>
    This is extracted content from <a href="https://microcks.io" target="new">microcks.io</a>. Please visit us to get full information
    on available documentation !
  </p>
  <div class="row">
    <div class="col-md-6">
      <h4 class="section-label">Mocks</h4>
      <a href="https://microcks.io/documentation/using/openapi/" target="new">Defining REST mocks in OpenAPI <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/using/asyncapi/" target="new">Defining Event-driven mocks in AsyncAPI <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/using/postman/" target="new">Using Postman Collections <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/using/soapui/" target="new">Using SoapUI Projects <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/using/graphql/" target="new">Mocking GraphQL API <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/using/grpc/" target="new">Mocking gRPC Service <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/using/dynamic/" target="new">Generating Direct API <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/using/mocks/" target="new">Mocking Reference <i class="fa fa-external-link"></i></a>

      <h4 class="section-label">Import Jobs</h4>
      <a href="https://microcks.io/documentation/using/upload/" target="new">Directly upload a new Service/API definition <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/administrating/secrets/" target="new">Managing Secrets for private repositories <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/using/jobs/" target="new">Defining and Managing Jobs <i class="fa fa-external-link"></i></a>
    </div>
    <div class="col-md-6">
      <h4 class="section-label">Tests</h4>
      <a href="https://microcks.io/documentation/getting-started-tests/" target="new">Getting Started with Tests <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/using/tests/#conformance-metrics" target="new">Understanding Conformance Index & Score <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/using/postman/#defining-tests" target="new">Defining tests with Postman <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/using/soapui/#defining-tests" target="new">Defining assertions with SoapUI <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/using/tests/" target="new">Testing Reference <i class="fa fa-external-link"></i></a>

      <h4 class="section-label">Integration</h4>
      <a href="https://microcks.io/documentation/automating/jenkins/" target="new">Launching tests from Jenkins <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/automating/github-actions/" target="new">Launching tests from GitHub Actions <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/automating/tekton/" target="new">Using Microcks tests from Tekton <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/automating/cli/" target="new">Microcks CLI <i class="fa fa-external-link"></i></a><br/>
      <a href="https://microcks.io/documentation/automating/api/" target="new">Microcks API <i class="fa fa-external-link"></i></a>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>