.metadata-labels-input {
  padding: 4px 9px;
  min-height: 120px;
  margin-bottom: 15px;
}

.metadata-label {
  background-color: var(--surface-subtle);
  border: 1px solid var(--surface-border);
  border-radius: 12px;
  display: inline-flex;
  line-height: 20px;
  margin: 0 3px 3px 0;
  max-width: 100%;
  padding: 0 8px;
}

.labels-input {
  background: transparent;
  border: 1px solid transparent !important;
  line-height: 20px;
  outline: none;
  padding: 0;
}