.test-bar-chart {
  margin-top: 20px;
  padding-bottom: 20px;
}

.list-group-item-text {
  line-height: 1.8;
}
.list-view-pf-description {
  flex-basis: 75%;
}
.list-view-pf-additional-info {
  flex-basis: 25%;
}
.list-view-pf-additional-info-item .fa-2x {
  font-size: 2em !important;
}

span.label {
  margin-left: 4px !important;
  margin-right: 4px !important;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.fa-times-circle {
  content: "\f057";
  color: var(--danger);
}
.fa-check-circle {
  content: "\f058";
  color: var(--status-success);
}
.fa-refresh {
  content: "\f021";
  color: var(--primary-500);
}
.fa-clock-o {
  color: var(--warning-500);
}
.test-timestamp {
  padding-top: 2px;
  font-size: 91%;
  font-weight: 400;
  color: var(--text-muted-2);
}
