<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>Microcks-UI - API Documentation</title>
    <script src="https://unpkg.com/@stoplight/elements/web-components.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@stoplight/elements/styles.min.css">
  </head>
  <body style="height: 100vh;">
    <elements-api
      apiDescriptionUrl="{RESOURCE_URL}"
      router="hash"
      layout="responsive"
    />
  </body>
</html>
