<div class="form-group pull-right">
  <pfng-toast-notification-list [notifications]="notifications" (onCloseSelect)="handleCloseNotification($event)"
    [showClose]="true">
  </pfng-toast-notification-list>
</div>

<h1>Administration</h1>
<small>Use this section to manage your <b>Users</b>, export and import repository <b>Snapshots</b> and manage
  <b>Secrets</b>.</small>

<br /><br />
<tabset>
  <tab heading="Users" customClass="second-tab">
    <app-users-tab></app-users-tab>
  </tab>
  <tab heading="Snapshots" customClass="second-tab">
    <app-snapshots-tab></app-snapshots-tab>
  </tab>
  <tab heading="Secrets" customClass="second-tab">
    <app-secrets-tab></app-secrets-tab>
  </tab>
</tabset>